@model WebDiDong.Models.NhaSanXuat

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <form action="/NhaSanXuat/Edit/@Model.MaNhaSanXuat" method="post">
            <input type="hidden" name="MaNhaSanXuat" value="@Model.MaNhaSanXuat" />
            <div class="row">
                <div class="col-md-6">
                    <label for="MaNhaSanXuat">Mã nhà sản xuất</label>
                    <input type="text"
                           class="form-control"
                           id="MaNhaSanXuat"
                           name="MaNhaSanXuat"
                           placeholder="Mã loại sản phẩm"
                           value="@Model.MaNhaSanXuat"
                           disabled />
                </div>
                <div class="col-md-6">
                    <label for="TenNhaSanXuat">Tên nhà sản xuất</label>
                    <input type="text"
                           class="form-control"
                           id="TenNhaSanXuat"
                           name="TenNhaSanXuat"
                           placeholder="Tên loại sản phẩm"
                           value="@Model.TenNhaSanXuat"
                           required />
                </div>
                <center>
                    <button type="submit" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px; ">Save</button>
                    <a href="/NhaSanXuat" class="btn btn-info">Cancel</a>
                </center>
            </div>
        </form>
    </div>

