@model WebDiDong.Models.LoaiSanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h2 class="text-center">Xóa Loại Sản Phẩm</h2>
        <form action="/LoaiSanPham/Delete/@Model.MaLoaiSanPham" method="post">
            <input type="hidden" name="MaLoaiSanPham" value="@Model.MaLoaiSanPham" />
            <table class="table">
                <tr>
                    <th>Mã loại sản phẩm</th>
                    <td>@Model.MaLoaiSanPham</td>
                </tr>
                <tr>
                    <th>Tên loại sản phẩm</th>
                    <td>@Model.TenLoaiSanPham</td>
                </tr>
            </table>

            <center>
                <button type="submit" class="btn btn-danger" style="margin-top: 20px; margin-bottom: 20px; ">Delete</button>
                <a href="/LoaiSanPham" class="btn btn-info" style="margin-top: 20px; margin-bottom: 20px; ">Cancel</a>
            </center>
        </form>
    </div>


