@model WebDiDong.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h2 class="text-center">Xóa Sản Phẩm</h2>

        <form action="/SanPham/Delete/@Model.MaSanPham" method="post">
            <input type="hidden" name="MaSanPham" value="@Model.MaSanPham" />
            <table class="table">
                <tr>
                    <th>Tên Sản Phẩm</th>
                    <td>@Model.TenSanPham</td>
                </tr>
                <tr>
                    <th>Giá</th>
                    <td>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:0,0}", Model.Gia) VNĐ</td>
                </tr>
            </table>

            <center>
                <button type="submit" class="btn btn-danger" style="margin-top: 20px; margin-bottom: 20px; ">Delete</button>
                <a href="/SanPham" class="btn btn-info" style="margin-top: 20px; margin-bottom: 20px; ">Cancel</a>
            </center>
        </form>
    </div>


