@model PagedList.IPagedList<WebDiDong.Models.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <h2 class="text-center">Danh Mục Sản Phẩm</h2>

        <form action="/SanPham/Index">
            <label for="search"></label>
            <input type="search"
                   class="form-control"
                   id="search"
                   name="search"
                   placeholder="Search"
                   style="width: 200px; display: inline; margin-bottom: 20px;"
                   value="@ViewBag.Search" />
            <button type="submit" class="btn btn-primary mx-2">Go</button>
        </form>

        <table class="table">
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Hình Ảnh</th>
                <th colspan="2">
                    <a href="/SanPham/Create" style="text-decoration: none "><img src="~/Asset/images/Add.png"><span style="color:green;">Thêm mới</span> </a>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaSanPham</td>
                    <td>@item.TenSanPham</td>
                    <td><img src="~/Asset/images/@item.HinhChinh" style="width:60px;height:60px;"></td>
                    <td><a href="/SanPham/Edit/@item.MaSanPham"> <img src="~/Asset/images/edit.png"></a> </td>
                    <td><a href="/SanPham/Delete/@item.MaSanPham"> <img src="~/Asset/images/Delete.png"></a> </td>
                </tr>
            }

        </table>

        <div class="row text-center">
            <ul class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </ul>
        </div>
    </div>


