@using WebDiDong.Models;
@model List<GioHang>

<div class="col-md-4">
    <div id="cart"><a class="btn btn-1" href="/GioHang/Index"><span class="glyphicon glyphicon-shopping-cart"></span>CART : @Model.Count() ITEM</a></div>
</div>